<h1>Cards#top</h1>

<%= form_tag("/cards/submit") do %>
<input type="string" name="content" > <%# contentがParamsで運ばれる　%>
<input type="submit" value="約判定させて〜や">
<% end %>

<% if @original_card %>
    <h3>your card</h3> 
   <%= @original_card.cards %>
<% end %>

<br>
<h3>役判定</h3>
<% if @error %>
<%= "役無し.エラー解決してから出直してください" %><br>
<%= @error %>
<% elsif @judge %>
<%= @judge %>
<% end %>
